<%= render 'comments/form'  %>
<br>
<% @comments.each do |comment| %>
  <%= comment.content %>

  <ul>
  <p><%= link_to "Delete Comment", [comment.project, comment], method: :delete, :class => 'comment-form' %></p>
  </ul>

<% end %>



