.edit-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;

}


.user-bio {
  width: 80%;
}

.header {
  font-size: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.name {
  font-size: 20px;
  color: black;
}

.form {
  border-radius: 4px;
  color: black;
}

.joe-btn {
  margin-left: 30px;
  margin-top: 40px;
  text-align: center;
}
