
#feed {
  .feed-row {
    margin-bottom: 15px;
    padding-top: 20px;
    -webkit-box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.36);

    .project {
      text-align: center;
      margin-bottom: 10px;
      overflow: hidden;
        img{
            object-fit: cover;
            }

      .heart {
        position: absolute;
        top: 10px;
        right: 22px;
        font-size: 22px;
        cursor: pointer;
        color: $red;
        z-index: 1000;
      }
    }
  }

  nav.pagination {
    display: block;
    text-align: center;
  }

.jumbotron {
  background: url("https://cdn.pixabay.com/photo/2016/01/19/14/53/modern-1149028_1280.jpg");
  background-size: cover;
  background-position: center;
  font-family: arial, sans-serif;
  text-align: right;
  color: white;
  color: #A6F500;
  height: 470px;

  /*background-color: #ecf0f1;*/
  }
}
// .linear-gradient {
//   background: linear-gradient(white, $light-blue, white);
//   height: 100%;
//   width: 100%;
//   }



  #feed-jumbotron {
    display: block;
  }


  .feed-category {
    list-style-type:none;
    margin-right: 10px;
    padding-left:5px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }

