#homeContainer {
  text-align: center;

  h1 {
    margin-top: 300px;
    color: $red;
  }

  h3 {
    color: $black;
  }
}

body {
  padding-top: 85px;
}

.jumbotron {
  background-size: cover;
  background-position: center;
  font-family: arial, sans-serif;
  text-align: left;
  color: white;
  height: 500px;
  font-weight:100;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('csuext.jpg')
  /*background-color: #ecf0f1;*/
}

.content-block {
    padding:60px 0;
    width:100%;
}

.content-block-blue {
    background:#343b4c;
    color:#ECF0F1;
}

.content-block-blue h1 {
    font-weight:100;
    text-transform:uppercase;
    margin-bottom: 30px;
}
