#homeContainer {
  text-align: center;

  h1 {
    margin-top: 300px;
    color: $red;
  }

  h3 {
    color: $black;
  }
}

body {
  padding-top: 85px;
}

.jumbotron {
  background: url("https://cdn.pixabay.com/photo/2016/01/19/14/53/modern-1149028_1280.jpg");
  background-size: cover;
  background-position: center;
  font-family: arial, sans-serif;
  text-align: left;
  color: white;
  color: #A6F500;
  height: 500px;
  /*background-color: #ecf0f1;*/
}

.content-block {
    padding:60px 0;
    width:100%;
}

.content-block-blue {
    background:#0a2f6b;
    color:#ECF0F1;
}

.content-block-blue h1 {
    font-weight:100;
    text-transform:uppercase;
    margin-bottom: 30px;
}
