body {
  margin-top: -50px;
}


.center-form {
  border: 4px solid #f7f7f7;
  border-color: #f7f7f7;
  border-radius: 5px;
  margin: 20px;
  width: 35%;
  h2 {
    text-align: center;
  }
}


.css-2s1366 {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    }

#homeContainer {
  text-align: center;

h1 {
    margin-top: 300px;
    color: $yellow;
  }

h3 {
    color: $black;
  }
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  text-decoration: none;
  color: $black;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#brand {
  color: $blue;
}

.container {
  position: relative;
  color: #ffffff;
  z-index: 2;
}

#input {
  color: #000000;
}

body {
  padding-top: 50px;
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

.jumbotron {
  position: relative;
  margin-top: 0px;
  overflow: hidden;
  height: 400px;
  background-size: cover;
  background-position: center;
  font-family: 'Karla', sans-serif;
  text-align: left;
  color: $white;
  font-weight:100;
  /*background-color: #ecf0f1;*/
}

.social {
  margin-top: 55px;
}

.social a {
  padding-right: 10px;
}

.social a img {
  width: 30px;
  height:30px;
}
.jumbotron .overlay {
    height: 0%;
    width: 100%;
    position: absolute;
    top: -50px;
    left: 0px;
    z-index: 2;
    background: $black  ;
    opacity: 0.5;
}

#video-background{
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

#photogrid {
  margin-top: -50px;
  margin-bottom: 12px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 25px;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: .8em;
}

a img {
  width: 375px;
  height: 211px;
}

.cover {
  object-fit: cover;
}


.fadeIn-bottom{
    top: 80%;
  }

.comment-form {
  color: $black;
  font-style: italic;
  opacity: .8;
  width: 100%;
  height:30px;
}

