.projects-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

#projectsrow {
  margin-top: 25px;
}

#delete {
  font-size: 12px;
  padding-top: 10px;
}

.fa-trash-o {
  font-size: 20px;
  margin-top: -5px;
}
