<% @page_title = "Edit Profile" %>

<div class="container new-upload projects-container css-2s1366">
  <h3 class=>Edit Profile</h3>
  <hr>

  <%= render partial: "form", locals: {user: @user} %>
</div>
