<% @page_title = "Edit Profile" %>

<div class="container profile-container css-2s1366">
  <div class="row">
  <div class="col-sm-4">
  <h3>Edit Profile</h3>
  </div>
    <div class="col-sm-8">
    <%= render partial: "form", locals: {user: @user} %>
    </div>
  </div>


</div>
