<% @page_title = "About" %>

<div>
  <h1>AnotherVU is a platform created for you, the architect, designer or content creator of architectural design.</h1>
  <p>As content creators ourselves, we know the challenges (and often the frustrations) of trying to get work published and seen by the community.</p>
  <p>You may have asked or thought:</p>
  <li>
        <ul>·I was sure my project would get picked up in a magazine.  I can’t believe it didn’t.
    </ul>
        <ul>·Will my work be what those who are “in-charge” want for their magazine this month?
    </ul>
        <ul>·Will favored designers and contributors always have their work featured before mine?
    </ul>
        <ul>·How can I share my work and how will I be found?
    </ul>
  </li>
  <p>The reality is, only a small number of projects get published in magazines, journals or other printed media.  There just isn’t the space for it.  So a lot of important work never gets the exposure it deserves, and as viewers, we’re limited to seeing only the projects that someone else decided for us to see, months in advance.</p>
  <p>On AnotherVU, you and your work have a home.  Unlike with closed and traditional platforms, you have:</p>
  <li>
    <ul>Ease of Publishing – Quickly and easily upload your projects</ul>
    <ul>Social Connectivity – Connect communicate with others in your community
</ul>
    <ul>Direct Feedback –  Share receive feedback on projects through commenting and upvoting.</ul>
    <ul>Authenticity – An unbiased experience where all works contributors are presented equally</ul>
  </li>
  <p>Whether your intended audience is the design community, potential clients, possible employers or just friends, the bottom line is – you have a voice here and a place to get your work another view.
  </p>
  <p>-the AnotherVU team</p>

<div>
