<% @page_title = "Contact" %>


<div class="document">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="document" id="input">
          <h1>CONTACT</h1>
          <p>AnotherVU is a platform where you can share projects, news, thoughts and opinions with the community, and see the content you want to see.</p>
          <p>We strive to create an unbiased environment where we can all be presented equally.</p>
          <p>Share your voice!</p>
          <p>If you'd like to know more about our business, get information about joining our team, share concerns or just say hello, hit us up at: <a href="mailto:hello@anothervu.com">hello@anothervu.com</a></p>
          <p>AnotherVU complies with the Digital Millennium Copyright Act (DMCA).  To report copyright or trademark infringment issues, please contact us at:<a href="mailto:copyright@anothervu.com"> copyright@anothervu.com</a></p>

          <div class="social">
          <a href="https://twitter.com/anothervumedia" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-networks-18/100/Twitter_logo-128.png" width="30" height="30"></a>
          <a href="https://www.instagram.com/anothervumedia" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-networks-18/100/Instagram_logo-128.png" width="30" height="30"></a>
          <a href="https://www.facebook.com/anothervumedia" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-networks-18/100/Facebook_logo-128.png" width="30" height="30"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-sm-6">
        <div class="thumbnail">
          <img src="http://astulainc.com/images/boss%20architecture%20ahrens%20house_007.jpg?crc=3980255026">
        </div>
      </div>
    </div>
  </div>
</div>
