<% @page_title = "Feed" %>

<div class="container">
  <h1>Feed</h1>
  <div class="row">
    <% @uploads.each do |upload|%>
      <div class="col-xs-4">
        <%= cl_image_tag upload.image_url, width: 300, height: 300, crop: :fill %>
        <div><%= upload.name %></div>
      </div>
    <% end %>
  </div>
</div>
