<% @page_title = "Home" %>

<div class="jumbotron">
    <div class="container">
      <h1>What's the story in architecture and design news? <br><br>You are.</h1>
    </div>
</div>

<div id="about" class="content-block content-block-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>
                  AnotherVU
                </h1>
                <p>
                    AnotherVU is dedicated to sharing your architectural and design projects with people who will make a difference. Please sign up to view the feed and stay up to do date with our community.
                </p>
            </div>
        </div>
    </div>
</div>
