<% @page_title = "Home" %>
<% content_for :footer_javascript do  %>
  <%= javascript_include_tag "pages/feed" %>
<% end %>

<div class="jumbotron css-2s1366">
    <div class="overlay"></div>
    <video id="video-background" preload muted autoplay loop>
        <source src="assets/oculus.mp4" type="video/mp4">
        <source src="assets/oculus.ogv" type="video/ogv">
    </video>
    <div class="container">
      <h1>What's the story in architecture and design news? <br><br></h1>
      <h1 id="brand"><strong>You are.</strong></h1>
    </div>
</div>

<div class="container css-2s1366" id="photogrid">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="http://i.imgur.com/qK42fUu.jpg">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1444090542259-0af8fa96557e?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1434543177303-ef2cc7707e0d?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1436262513933-a0b06755c784?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1439396087961-98bc12c21176?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1435771112039-1e5b2bcad966?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <img src="https://images.unsplash.com/photo-1442406964439-e46ab8eff7c4?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450">
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail content">
        <div class="content-overlay"></div>
        <a href="#"><img src="https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1450&h=825&fit=crop&s=bfda9916c885869b43b70738693428d9"></a>
        <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
      </div>
    </div>
  </div>
</div>


