<% @page_title = "Edit Project" %>

<div class="container new-upload projects-container">
  <h3 class=>Edit:   <%= @project.name %></h3>
  <hr>

  <%= render partial: "form", locals: {project: @project} %>
</div>
