<% @page_title = "Edit Project" %>

<div class="container new-upload projects-container css-2s1366">
  <div class="row">
  <div class="col-sm-4">
  <h3 class=>Edit Project <!--  <%= @project.name %> --></h3>
  </div>
  <div class="col-sm-8">
  <%= render partial: "form", locals: {project: @project} %>
  </div>
  </div>
</div>
