default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000

development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: anothervu_development
  pool:     5
  username: anothervu
  password:
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: anothervu_test
  pool:     5
  username: anothervu
  password:
  template: template0