
        <div id="carousel-header" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-caption d-none d-md-block" style="top: 20px; bottom: auto; max-width: 100%; width:100%; left: -25px; ">
                      <h1 style="text-align: right; font-size: 4.2em; font-family: Helvetica, Arial, sans-serif;">Share Your World<br>Through Architecture and Design</h1>
                    </div>
            <div id="tabs-container" class="container">
              <div class="tabs">
                <a id="top-tab" class="tab" href="/">
                  <h3>Top</h3>
                </a>
                <a id="new-tab" class="tab" href="sort_new">
                <h3>New</h3>
                  </a>
              </div>
            </div>
                <div class="item active">
                    <%= image_tag 'PavLightViolet.jpg' %>
                </div>
                <div class="item">
                    <%= image_tag 'CCYAsp.jpg' %>
                </div>
                <div class="item">
                    <%= image_tag 'BOSS.jpg' %>
                </div>
            </div>
        </div>

<script>
  if (window.location.pathname === "/") {
       $('#new-tab').removeClass('active')
       $('#top-tab').addClass('active');
  } else if (window.location.pathname === "/sort_new") {
    $('#top-tab').removeClass('active')
     $('#new-tab').addClass('active');
  }
</script>
