.css-2s1366 {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    }

.navbar-default {
  background-color: white;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: $white;
}

.navbar-default .navbar-brand {
  color: $blue;
  font-size: 30px;
}

.navbar {
  margin-bottom: 0px;
}

.search-bar {
  color: black;
  margin-top: 12px;
  margin-left: 2px;
    input[type=text] {
    padding: 2px;
    }
}

