.css-2s1366 {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    }

.navbar-inverse {
  background-color: black;
}

.navbar-inverse .navbar-nav>li>a {
  color: $white;
}

.navbar-inverse .navbar-brand {
  color: $blue;
  font-size: 30px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-top {

}
