#showProject {
  .upload {
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
  }

  .project-heart {
    cursor: pointer;
    color: $black;
  }
}

#project-name {
  margin-bottom: -5px;
}

.proj-desc {
  padding-bottom: 5px;
}

.edit-profile-form{
  width: 50%;
  text-align: left;
}

.edit-profile-header {
  text-align: left;
}

.info {
  z-index: 20;
}
.left {
    position: fixed;
    top: 60px;
    bottom: 60px;
    background-color: white;
    overflow-y: scroll;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    // -webkit-transition: all .2s ease-in;
    // transition: all .2s ease-in;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
}

.full {
  background-color: white;
  width: 100%;
}

// .scrolling-comments {
//     position: relative;
//     top: 10px;
//     left: 10px;
//     bottom: 10px;
//     width: 180px;
//     overflow-y: scroll;
// }
