#showProject {
  .upload {
    margin-bottom: 15px;
    text-align: right;
    overflow: hidden;
  }

  .project-heart {
    cursor: pointer;
    color: $black;
  }
}

.creator {
  margin-top: -30px;
}

#project-name {
  margin-bottom: -5px;
}

.proj-desc {
  padding-bottom: 5px;
}

.edit-profile-form{
  width: 50%;
  text-align: left;
}

.edit-profile-header {
  text-align: left;
}

.info {
  z-index: 20;
}

// .left {
//     position: fixed;
//     top: 60px;
//     bottom: 60px;
//     background-color: white;
//     overflow-y: scroll;
//     -moz-transition: all .2s ease-in;
//     -o-transition: all .2s ease-in;
//     // -webkit-transition: all .2s ease-in;
//     // transition: all .2s ease-in;
//     border: 2px solid #f5f5f5;
//     border-radius: 4px;
// }

// .full {
//   background-color: white;
//   width: 100%;
// }

// .scrolling-comments {
//     position: relative;
//     top: 10px;
//     left: 10px;
//     bottom: 10px;
//     width: 180px;
//     overflow-y: scroll;
// }

#sidebar {
  background-color: white;
  // width: 100%;
}


@media screen and (min-width: 767px) {
    #sidebar {
    position: fixed;
    top: 60px;
    bottom: 60px;
    background-color: white;
    overflow-y: scroll;
    // width: 30%;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    // -webkit-transition: all .2s ease-in;
    // transition: all .2s ease-in;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    // float: left;
    }
}

@media screen and (max-width: 1200px) {
  #sidebar {
    width: 30%;
  }
}

//   function positionSidebar() {
//     if ($('.container').first().innerWidth() > 767) {
//         $('#sidebar').addClass('left');
//         $('#sidebar').removeClass('full');
//     } else {
//         $('#sidebar').removeClass('left');
//         $('#sidebar').removeClass('affix-top');
//         $('#sidebar').removeClass('affix');
//         $('#sidebar').addClass('full');
//     }
// }

//   setInterval(positionSidebar, 300);
