#showProject {
  .upload {
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
  }

  .project-heart {
    cursor: pointer;
    color: $black;
  }
}

.proj-desc {
  padding-bottom: 5px;
}

#project-name {
  padding-bottom: 25px;
}


